@model eUseControl.Web.Models.UserData

@{
    ViewBag.Title = "My Cabinet";
}

<h2>Contul meu</h2>

@using (Html.BeginForm("UpdateUser", "Account", FormMethod.Post))
{
    @Html.ValidationSummary(true)

    <div>
        @Html.LabelFor(m => m.Nume)
        @Html.EditorFor(m => m.Nume)
        @Html.ValidationMessageFor(m => m.Nume)
    </div>
    <div>
        @Html.LabelFor(m => m.Prenume)
        @Html.EditorFor(m => m.Prenume)
        @Html.ValidationMessageFor(m => m.Prenume)
    </div>
    <div>
        @Html.LabelFor(m => m.Email)
        <p>@Model.Email</p>
        @Html.HiddenFor(m => m.Email)
        @Html.ValidationMessageFor(m => m.Email)
    </div>
    <div>
        @Html.LabelFor(m => m.Password)
        @Html.EditorFor(m => m.Password)
        @Html.ValidationMessageFor(m => m.Password)
    </div>
    <input type="submit" value="Save" />
}
