@model List<eUseControl.Domain.Entities.Orders.Order>

@{
     ViewBag.Title = "Orders";
}

<h2>Admin Orders Page</h2>

<table class="table">
     <tr>
          <th>Order ID</th>
          <th>Email</th>
          <th>Order Date</th>
          <th>User Address</th>
          <th>User Index</th>
          <th>User Phone Number</th>
          <th>Order Details</th>
     </tr>
     @foreach (var order in Model)
     {
          <tr>
               <td>@order.OrderId</td>
               <td>@order.UserId</td>
               <td>@order.OrderDate</td>
               <td class="nullable">@order.UserAddress</td>
               <td class="nullable">@order.UserIndex</td>
               <td class="nullable">@order.UserPhoneNumber</td>
               <td>
                    <table class="table">
                         <tr>
                              <th>Product Name</th>
                              <th>Quantity</th>
                              <th>Unit Price</th>
                         </tr>
                         @foreach (var detail in order.OrderDetails)
                         {
                              <tr>
                                   <td>@detail.Product.Name</td>
                                   <td>@detail.Quantity</td>
                                   <td>@detail.UnitPrice</td>
                              </tr>
                         }
                    </table>
               </td>
          </tr>
     }
</table>

@Html.AntiForgeryToken()

<script>
     document.addEventListener("DOMContentLoaded", function () {

          var cells = document.querySelectorAll(".nullable");

          cells.forEach(function (cell) {
               if (!cell.textContent.trim()) {
                    cell.textContent = "NONE";
               }
          });
     });
</script>

