@{
    ViewBag.Title = "LogIn";
    Layout = "~/Views/Shared/_LayoutWithoutUser.cshtml";
}

@using System.Web.Optimization
@model eUseControl.Web.Models.UserLogin

<!-- Begin Login Content Area -->
<div class="page-section mb-60">
    <div class="container">
        <div class="row">
            <div class="col-sm-12 col-md-12 col-xs-12 col-lg-6 mb-30">
                <!-- Login Form -->
                <form action="#">
                    @Html.ValidationSummary(true)
                    @using (Html.BeginForm("LogInUser", "LogIn", FormMethod.Post))
                    {
                        @Html.AntiForgeryToken()
                        <div class="login-form">
                            <div class="form-group">
                                @Html.LabelFor(m => m.Email, "Email", new { @class = "control-label" })
                                @Html.TextBoxFor(m => m.Email, new
                                {
                                    placeholder = "example@gmail.com",
                                    title = "Please enter your email",
                                    @class = "form-control",
                                    required = "required"
                                })
                                <span class="help-block small">User's email.</span>
                            </div>
                            <div class="form-group">
                                @Html.LabelFor(m => m.Password, new { @class = "control-label" })
                                @Html.TextBoxFor(m => m.Password, new
                                {
                                    @class = "form-control",
                                    type = "password",
                                    title = "Please enter your password",
                                    placeholder = "******",
                                    required = "required"
                                })
                                <span class="help-block small">User's password.</span>
                            </div>
                            <div class="form-group">
                                <button type="submit">Logare</button>
                            </div>
                        </div>
                    }
                </form>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    @Scripts.Render("~/bundles/validation/js")

    <script type="text/javascript">
        function validateForm() {
            var email = document.getElementById('Email').value;
            var password = document.getElementById('Password').value;

            if (email.trim() === '' || password.trim() === '') {
                alert('Please enter both email and password.');
            } else {
                document.getElementById('LoginForm').submit();
            }
        }
    </script>
}
