@model dynamic

<!-- Begin Body Wrapper -->
<div class="body-wrapper">
    <!-- Begin Header Area -->
    <header class="li-header-4">
        <!-- Begin Header Top Area -->
        <div class="header-top">
            <div class="container">
                <div class="row">
                    <!-- Begin Header Top Left Area -->
                    <div class="col-lg-3 col-md-4">
                        <div class="header-top-left">
                            <ul class="phone-wrap">
                                <li><span>Nr. de contact: (+373) 11 22 33 44</span></li>
                            </ul>
                        </div>
                    </div>
                    <!-- Header Top Left Area End Here -->
                    <!-- Begin Header Top Right Area -->
                    <div class="col-lg-9 col-md-8">
                        <div class="header-top-right">
                             <ul class="ht-menu">
                                  <!-- Begin Setting Area -->
                                  <li><a href="@Url.Action("Products", "Admin")">Admin Products</a></li>
                                  <li><a href="@Url.Action("Users", "Admin")">Admin Users</a></li>
                                  <li><a href="@Url.Action("Orders", "Admin")">Admin Orders</a></li>
                                  <li><a href="@Url.Action("LogIn", "Login")">Logare</a></li>
                                  <li><a href="@Url.Action("RegisterPage", "UserRegistration")">Registrare</a></li>
                                  <li><a href="@Url.Action("LogOut", "Login")">Deconectare</a></li>
                                  <li><a href="@Url.Action("MyCabinet", "Account")">Contul meu</a></li>
                                  <!-- Setting Area End Here -->
                             </ul>
                        </div>
                    </div>
                    <!-- Header Top Right Area End Here -->
                </div>
            </div>
        </div>
        <!-- Header Top Area End Here -->
        <!-- Begin Header Middle Area -->
        <div class="header-middle pl-sm-0 pr-sm-0 pl-xs-0 pr-xs-0">
            <div class="container">
                <div class="row">
                    <!-- Begin Header Logo Area -->
                    <div class="col-lg-3">
                        <div class="logo pb-sm-30 pb-xs-30">
                            <img src="~/Content/images/menu/logo/2.png" alt="">
                        </div>
                    </div>
                    <!-- Header Logo Area End Here -->
                    <!-- Begin Header Middle Right Area -->
                    <div class="col-lg-9 pl-0 ml-sm-15 ml-xs-15">
                        <!-- Begin Header Middle Searchbox Area -->
                        <form action="@Url.Action("Search", "SearchBar")" class="hm-searchbox" method="get">
                            <input type="text" name="query" placeholder="Scrie aici ...">
                            <button class="li-btn" type="submit"><i class="fa fa-search"></i></button>
                        </form>
                        <!-- Header Middle Searchbox Area End Here -->
                        <!-- Begin Header Middle Right Area -->
                        <div class="header-middle-right">
                            <ul class="hm-menu">
                                <!-- Begin Header Mini Cart Area -->
                                <li class="hm-minicart">
                                    <a href="@Url.Action("Index", "Order")" class="hm-minicart-trigger">
                                        <span class="item-icon"></span>
                                    </a>
                                </li>
                                <li>
                                    <a href="@Url.Action("MyOrders", "MyOrder")">My Orders</a>
                                </li>
                                <!-- Header Mini Cart Area End Here -->
                            </ul>
                        </div>
                        <!-- Header Middle Right Area End Here -->
                    </div>
                    <!-- Header Middle Right Area End Here -->
                </div>
            </div>
        </div>
        <!-- Header Middle Area End Here -->
        <!-- Begin Header Bottom Area -->
        <div class="header-bottom header-sticky stick d-none d-lg-block d-xl-block">
            <div class="container">
                <div class="row">
                    <div class="col-lg-12">
                        <!-- Begin Header Bottom Menu Area -->
                        <div class="hb-menu">
                            <nav>
                                <ul>
                                    <li><a href="@Url.Action("HomePage", "Home")">Home</a></li="dropdown-holder">
                                    <li class="megamenu-holder">
                                        <a href="">Shop</a>
                                        <ul class="megamenu hb-megamenu">
                                            <li>
                                                <a href="">Jocuri</a>
                                                <ul>
                                                    <li><a href="@Url.Action("NintendoGames", "NintendoGames")">Jocuri Nintendo</a></li>
                                                    <li><a href="@Url.Action("ConsoleGames", "ConsoleGames")">Jocuri Console</a></li>
                                                    <li><a href="@Url.Action("PCGames", "PCGames")">Jocuri PC</a></li>
                                                </ul>
                                            </li>
                                        </ul>
                                    </li>
                                </ul>
                            </nav>
                        </div>
                        <!-- Header Bottom Menu Area End Here -->
                    </div>
                </div>
            </div>
        </div>
        <!-- Header Bottom Area End Here -->
        <!-- Begin Mobile Menu Area -->
        <div class="mobile-menu-area mobile-menu-area-4 d-lg-none d-xl-none col-12">
            <div class="container">
                <div class="row">
                    <div class="mobile-menu">
                    </div>
                </div>
            </div>
        </div>
        <!-- Mobile Menu Area End Here -->
    </header>
    <!-- Header Area End Here -->
</div>
