@using System.Web.Optimization

<!DOCTYPE html>

<html class="no-js" lang="zxx">
<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">

    <title>Limupa Shop</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Favicon -->
    <link href="~/Content/images/favicon.png" rel="icon">

    <!--Google Fonts-->
    <link href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700,900" rel="stylesheet" type="text/css">

    <!--Vendor CSS Files-->
    @Styles.Render("~/bundles/styles/material-design-iconic-font/css");
    @Styles.Render("~/bundles/styles/font-awesome/css");
    @Styles.Render("~/bundles/styles/font-awesome-stars/css");
    @Styles.Render("~/bundles/styles/meanmenu/css");
    @Styles.Render("~/bundles/styles/owl-carousel/css");
    @Styles.Render("~/bundles/styles/slick/css");
    @Styles.Render("~/bundles/styles/animate/css");
    @Styles.Render("~/bundles/styles/jquery-ui/css");
    @Styles.Render("~/bundles/styles/venobox/css");
    @Styles.Render("~/bundles/styles/nice-select/css");
    @Styles.Render("~/bundles/styles/magnific-popup/css");
    @Styles.Render("~/bundles/styles/bootstrap/css");
    @Styles.Render("~/bundles/styles/helper/css");
    @Styles.Render("~/bundles/styles/responsive/css");

    @if (IsSectionDefined("Styles"))
    {
        @RenderSection("Styles", required: false)
    }

    <!--Main CSS File-->
    @Styles.Render("~/bundles/styles/style/css");
</head>

<body>

    @Html.Partial("_HeaderWithoutUser")
    <div>
        @RenderBody()
    </div>

    @Html.Partial("_Footer")

    <!--Vendor JS Files-->
    @Scripts.Render("~/bundles/popper/js")
    @Scripts.Render("~/bundles/jquery-1.12.4/js")
    @Scripts.Render("~/bundles/modernizr-2.8.3/js")

    <!--Other-->
    @Scripts.Render("~/bundles/bootstrap/js")
    @Scripts.Render("~/bundles/scrollUp/js")
    @Scripts.Render("~/bundles/venobox/js")
    @Scripts.Render("~/bundles/ajax-mail/js")
    @Scripts.Render("~/bundles/jquery-nice-select/js")
    @Scripts.Render("~/bundles/jquery-ui/js")
    @Scripts.Render("~/bundles/jquery-barrating/js")
    @Scripts.Render("~/bundles/waypoints/js")
    @Scripts.Render("~/bundles/jquery-counterup/js")
    @Scripts.Render("~/bundles/jquery-countdown/js")
    @Scripts.Render("~/bundles/jquery-mixitup/js")
    @Scripts.Render("~/bundles/imagesloaded-pkgd/js")
    @Scripts.Render("~/bundles/isotope-pkgd/js")
    @Scripts.Render("~/bundles/magnific-popup/js")
    @Scripts.Render("~/bundles/owl-carousel/js")
    @Scripts.Render("~/bundles/slick/js")
    @Scripts.Render("~/bundles/wow/js")
    @Scripts.Render("~/bundles/jquery-meanmenu/js")
    @Scripts.Render("~/bundles/popper/js")
    @Scripts.Render("~/bundles/jquery-1.12.4/js")
    @Scripts.Render("~/bundles/jquery-validate/js")
    @Scripts.Render("~/bundles/jquery-3.7.1/js")
    @Scripts.Render("~/bundles/jquery-3.7.1-min/js")
    <!-- Template Main JS File -->

    @Scripts.Render("~/bundles/main/js")

    @RenderSection("Scripts", required: false)
</body>
</html>
