@using System.Web.Optimization
<!DOCTYPE html>

<html>
<head>
    <meta http-equiv="content-type" content="text/html; charset=utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>@ViewBag.Title - Pipi</title> 

    <link href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700,900" rel="stylesheet" type="text/css">
    @Styles.Render("~bundles/font-awesome/css")
    

    @if (IsSectionDefined("Styles"))
    {
        @RenderSection("Styles", required: false)
    }   

    @Styles.Render("~/bundles/main/css")



</head>
<body>
    <div>
        @RenderBody()
        @Scripts.Render("~/bundles/jqueryval")
        @Scripts.Render("~/bundles/jquery")
        @Scripts.Render("~/bundles/jquery/min")
        @Scripts.Render("~/bundles/bootstrap/js")
        
        @RenderSection("scripts", required: false)
    </div>
    

</body>
</html>
